<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="home-page-notes">
        <div class="notes-form container">
                <div>
                    <hr class="my-3"/>
                    <div class="text-center mb-4">
                        <h1 th:text="${note.title}" ></h1>
                    </div>
                    <hr class="my-3">
                    <div class="container-fluid">
                        <div class="row justify-content-center text-center">
                            <div>
                                <div class="label mt-4">
                                    <textarea class="text-center" cols="41" rows="10" th:text="${note.description}" disabled></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <form class="group-form" th:action="@{/notes/edit/{id}(id=${noteId})}" method="get">
                                <button class="btn btn-info">Edit Note</button>
                            </form>
                        </div>
                        <div class="btn-register">
                            <br>
                            <button class="btn btn-outline-success my-2 my-sm-0 text-center justify-content-center" onclick="window.history.back()" type="submit">Back</button>
                        </div>
                    </div>
                    <hr class="my-3"/>
                </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>