<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/navbar"></th:block>
</header>
<main>
    <hr class="hr-2 bg-dark w-25">
    <h1 class="text-center text-info">CookingBook</h1>
    <hr class="hr-2 bg-dark w-25">
    <div class="home-page-container row">
        <div class="home-box col-lg-2">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="name-group">
                        <a th:href="@{/users/friends}" class="text-home-form">My Follow</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="friend, iter : ${friends}">
                    <tr class="row mx-auto text-center ">
                        <td class="mx-auto text-center name-group-cell">
                            @<a th:text="${friend.username}" th:href="@{/users/details/{id}(id=${friend.id})}"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div id="posts" class="home-page offset-lg-1 col-lg-6">
            <th:block th:each="post, iter : ${posts}">
                <div class="container home-page-posts justify-content-around">
                    <div>

                        <th:block th:if="${userID == post.uploader.id}">
                            <a class="post-username" th:href="@{/users/profile}" th:utext="${post.uploader.username}"></a>
                        </th:block>
                        <th:block th:unless="${userID == post.uploader.id}" >
                            <a class="post-username" th:href="@{/users/details/{id}(id=${post.uploader.id})}"
                               th:utext="${post.uploader.username}"></a>
                        </th:block>
                        <!--                        <h5 class="text-center" th:utext="${#strings.substring(post.postTime, 0,10)}"></h5>-->
                        <h5 class="text-center" th:utext="${#dates.format(post.postTime, 'dd-MM-yyyy')}"></h5>
                        <h5 class="text-center" th:utext="${post.name}"></h5>
                        <img th:src="${post.imageUrl}" class="img-thumbnail" width="300" height="300">
                        <ul>
                            <li><a th:href="@{/posts/details/{id}(id=${post.id})}" class="btn btn-info">Details</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <hr class="my-3">
                <br>
            </th:block>
        </div>
        <div class="home-box home-box offset-lg-1 col-lg-2" id="group-form">
            <table class="table">
                <thead>
                <th scope="col" class="name-group">
                    <a th:href="@{/groups/create}" class="text-home-form">Create Group</a>
                </th>
                <tr>
                    <th scope="col" class="name-group">
                        <a th:href="@{/users/groups}" class="text-home-form">My Group</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="group, iter : ${usersGroups}">
                    <tr class="row mx-auto text-center ">
                        <td class="mx-auto text-center name-group-cell ">
                            @<a th:text="${group.name}" th:href="@{/groups/group/{id}(id=${group.id})}"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer"></th:block>
</body>
</html>